{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if show_copy_button %}
        <div class="submit-row">
            <input type="submit" value="{% trans 'Copy Stream' %}" name="_copy_stream">
        </div>
    {% endif %}
    {% if show_run_now_button %}
        <div class="submit-row">
            <input type="submit" value="{% trans 'Run Now' %}" name="_run_now" style="background: #28a745;">
        </div>
    {% endif %}
{% endblock %}
